*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Gilroy';

}

html , body{
    height:100%;
    width:100%;
}


body{
    background-color: rgb(0,208,255);
    display: flex;
    justify-content: center;
    align-items: center;

}

#card{
    height: 450px;
    width:350px;
    background-color: white;
    border: 3px solid black;
    position: relative;
    overflow: hidden;
    border-radius: 15px;
}

#story ::-webkit-scrollbar{
    display: none;
}

#story{
    height: 120px;
    width:100%;
    padding:15px;
    white-space:nowrap; 
    overflow-x: auto;
    overflow-y: hidden;
    border-bottom: 1px solid #dadada;
}

.stori{
    border: 3px solid blue;
    height:90px;
    border-radius: 50%;
    width: 90px;
    overflow: hidden;
    display: inline-block;
}

.stori img{
    height:100%;
    width:100%;
    object-fit: cover;
    object-position: center;
}

#full-screen{
    height:100%;
    width: 100%;
    background-size: cover;
    background-position: center ;
    position: absolute;
    display: none;
}